/* Body element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  /* Header element */
  header {
    
    background-color: #ffffff; /* witte achtergrondkleur */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* lichte schaduw */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;

  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    color: #22a7f0; /* lichtblauwe tekstkleur */
    text-decoration: none;
    font-weight: 600;
   
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #2980b9; /* donkerblauwe tekstkleur bij hover */
  }
  
  nav ul li:first-child {
    margin-right: auto;
  }
 
  
  nav h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #22a7f0; /* lichtblauwe tekstkleur */
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  
  /* Main content */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Article element */
  article {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    flex-basis: calc(33.33% - 20px);
  }
  
  /* Article title */
  article h2 {
    color: #2196f3;
  }
  
  /* Article image */
  article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Article text */
  article p {
    margin-bottom: 10px;
  }

  /** makes the width smaller so the sections fit next to each other */
  section {
    width: 20rem;
  }
  
  /* Footer element */
  footer {
    background-color: #2196f3;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 7.3rem;
  }
  
  @media (max-width: 244px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }

    nav ul {
      flex-direction: column;
    }

    nav ul li {
      margin: 0;
    }

    nav ul li a {
      padding: 10px 20px;
    }

    nav ul li:first-child {
      margin-right: 0;
    }

    nav h1 {
      margin-bottom: 10px;

    }

  }

  @media (max-width: 768px) {
    article {
      flex-basis: calc(50% - 20px);
    }
  }

  @media (max-width: 1024px) {
    article {
      flex-basis: calc(33.33% - 20px);
    }
  }

  @media (max-width: 1200px) {
    article {
      flex-basis: calc(50% - 20px);
    }
  }

  @media (max-width: 1440px) {
    article {
      flex-basis: calc(33.33% - 20px);
    }
  }

  @media (max-width: 1680px) {
    article {
      flex-basis: calc(25% - 20px);
    }
  }

  @media (max-width: 1920px) {
    article {
      flex-basis: calc(20% - 20px);
    }
  }
  